<mat-toolbar color="primary" class="header-toolbar">
  <div class="header-left">
    <button mat-icon-button (click)="onMenuClick()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo">
      <mat-icon class="logo-icon">store</mat-icon>
      <span class="logo-text">Shop Management</span>
    </div>
  </div>

  <div class="header-center">
    <div class="search-container">
      <mat-icon class="search-icon">search</mat-icon>
      <input type="text" placeholder="Search..." class="search-input">
    </div>
  </div>

  <div class="header-right">

  </div>
</mat-toolbar>
