<div class="sidenav-wrapper" [class.opened]="opened">
  <div class="sidenav" [class.opened]="opened">
    <div class="sidenav-header">
      <div class="user-info">
        <div class="avatar">
          <mat-icon>account_circle</mat-icon>
        </div>
        <div class="user-details">
          <h3>{{ currentUser?.username || 'Guest' }}</h3>
          <p>Administrator</p>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-nav-list class="nav-list">
      <a mat-list-item 
         *ngFor="let item of navItems" 
         [routerLink]="item.route"
         routerLinkActive="active"
         class="nav-item">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
        <span matListItemMeta *ngIf="item.badge" class="badge">{{ item.badge }}</span>
      </a>
    </mat-nav-list>

    <div class="sidenav-footer">
      <mat-divider></mat-divider>
      <mat-nav-list class="nav-list">
        <a mat-list-item 
           *ngFor="let item of bottomNavItems" 
           [routerLink]="item.route"
           routerLinkActive="active"
           class="nav-item">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      </mat-nav-list>
    </div>
  </div>
</div>

<!-- Backdrop overlay for mobile -->
<div class="sidenav-backdrop" 
     [class.visible]="opened" 
     (click)="onBackdropClick()"
     *ngIf="isMobile()"></div>

<div class="sidenav-content" [class.sidenav-opened]="opened">
  <ng-content></ng-content>
</div>
